*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Lato", "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4f4f4f;
  background: #fafafa;
}

.root {
  height: 100%;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  position: fixed;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.header .nav {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.header .nav .searchBox {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  padding: 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.header .nav .searchBox i {
  padding: 0 5px;
  font-size: 1rem;
}

.header .nav .searchBox input {
  outline: none;
  border: none;
}

.header .nav .tabLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav .tabLayout .tab {
  padding: 10px;
  cursor: pointer;
}

.listViewWarpper {
  width: 100%;
  height: 100%;
  top: 80px;
  position: relative;
}

.listViewWarpper .listView {
  width: 35%;
  height: 100%;
  margin: 0 auto;
}

.listItem {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.listItem header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.listItem header img {
  border-radius: 50%;
  widows: 35px;
  height: 35px;
}

.listItem header h2 {
  font-size: 1.5rem;
  margin-left: 10px;
}

.listItem .postView {
  width: 100%;
  height: 100%;
}

.listItem .postActionsLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.listItem .postActionsLayout i {
  font-size: 2rem;
}

.listItem .postLikeViewLayout {
  margin-left: 10%;
}

.listItem .postLikeViewLayout spam {
  font-weight: bold;
  font-size: 1.2rem;
}

.listItem .postCaptionView {
  font-size: 1.5rem;
  padding: 10px;
}

.listItem .quickCommentLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 50px;
}

.listItem .quickCommentLayout img {
  border-radius: 50%;
  widows: 30px;
  height: 30px;
  border: 2px solid cyan;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.listItem .quickCommentLayout input {
  border: none;
  outline: none;
  height: 100%;
  margin-left: 10px;
  width: 100%;
  border-radius: 50px;
}

.NotifyPanel {
  position: absolute;
  width: 30%;
  height: 60%;
  right: 20%;
  top: 70%;
}

.NotifyPanel .pointer {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  right: -80%;
  bottom: -6px;
  float: left;
  z-index: 1;
}

.NotifyPanel .pointerHelper {
  width: 14px;
  height: 14px;
  background: #ffffff;
  position: relative;
  right: -80%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  z-index: 2;
  bottom: -8px;
}

.NotifyPanel .body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
/*# sourceMappingURL=index.css.map */