// Color Theme
$colorPrimary : #ffffff;
$colorSecondary: #fafafa;
$colorDark : #4f4f4f;
$colorAccent: #03A9F4;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  user-select: none;
  font-family: "Lato", "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $colorDark;
  background: $colorSecondary;
}

.root {
    height: 100%;
}

.spacer {
    flex: 1;
}

.header {
    background-color: $colorPrimary;
    width: 100%;
    height: 70px;
    position: fixed;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    z-index: 999;

    & .logoText {
        font-family: Pacifico;
    }

    & .nav {
        width: 70%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: space-around;

        & .searchBox {
            background-color: $colorPrimary;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
            padding: 5px 5px;
            display: flex;
            align-items: center;
            border-radius: 10px;

            & i {
                padding: 0 5px;
                font-size: 1rem;
            }

            & input {
                outline: none;
                border: none;
            }
        }

        & .tabLayout {
            display: flex;
            
            & .tab {
                padding: 10px;
                cursor: pointer;
                font-weight: normal;
            }
        }
    }
}

.listViewWarpper {
    width: 100%;
    height: 100%;
    top: 80px;
    position: relative;

    & .listView {
        width: 35%;
        height: 100%;
        margin: 0 auto;
    }
}

.listItem {
    width: 100%;
    height: 100%;
    background-color: $colorPrimary;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 50px;
    padding-bottom: 10px;

    & header {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    & header img {
        border-radius: 50%;
        widows: 35px;
        height: 35px;
    }

    & header h2 {
        font-size: 1.5rem;
        margin-left: 10px;
    }

    & .postView {
        width: 100%;
        height: 100%;
    }

    & .postActionsLayout {
        display: flex;
        padding: 10px;
        justify-content: space-around;

        & i {
            font-size: 2rem;
            cursor: pointer;
        }
    }

    & .postLikeViewLayout {
        margin-left: 10%;

        & spam {
            font-weight: bold;
            font-size: 1.2rem;
        }
    }

    & .postCaptionView {
        font-size: 1.5rem;
        padding: 10px;
    }

    & .quickCommentLayout {
        display: flex;
        height: 50px;
        align-items: center;
        padding: 10px;
        margin: 0 10px 0 10px;
        background-color: $colorSecondary;
        border-radius: 50px;

        & img {
            border-radius: 50%;
            widows: 25px;
            height: 25px;
            border: 2px solid $colorAccent;
            box-sizing: content-box;
        }

        & input {
            border: none;
            outline: none;
            height: 100%;
            margin-left: 10px;
            width: 100%;
            border-radius: 50px;
            padding-left: 10px;
        }
    }
}
.NotifyPanel {
    position: absolute;
    width: 30%;
    height: 60%;
    right: 20%;
    top: 70%;

    & .pointer {
        width: 14px;
        height: 14px;
        background-color: $colorPrimary;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        transform: rotate(45deg);
        position: relative;
        right: -80%;
        bottom: -6px;
        float: left;
        z-index: 1;
    }

    & .pointerHelper {
        width: 14px;
        height: 14px;
        background: $colorPrimary;
        position: relative;
        right: -80%;
        transform: rotate(45deg);
        border-bottom: 3px solid $colorPrimary;
        border-right: 3px solid $colorPrimary;
        z-index: 2;
        bottom: -8px;
    }

    & .body {
        width: 100%;
        height: 100%;
        background-color: $colorPrimary;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
}
